<div class="item card" > 
    <div title="Click For More Details" routerLink="/details/{{data.id}}">
        <div class="imd-container">
            <img src="{{data.image}}" class="img-fluid">
        </div>
        <h4 class="card-title">{{data.title}}</h4>
        <p class="card-text">{{data.description}}</p>    
    </div>
    <div class="btns">
        <button class="btn btn-success" *ngIf="!addBtn" (click)=" addBtn = true" >Add To Cart</button>
        <div class="d-flex w-50" *ngIf="addBtn">
            <input type="number" class="form-control me-2" [(ngModel)] = "amount">
            <button class="btn btn-danger" (click)="add()">ADD</button>
        </div>
        <span>{{data.price}} L.E</span>
    </div>
</div>